:root {
  --butternut: #F2AB15;
  --yellow: #f9d68d;
  --mint: #A7AF39;
  --black: #000000;
  --blue: #396caf;
  --grey: #eaeaea;
  font-size: 62.5%;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header begins */

header {
  display: flex;
  width: 100%;
  background-color: var(--black);
}

.logo-container {
  flex: 1;
}

.nav-container {
  flex: 1;
  text-align: right;
}

.fab {
  display: inline-block;
  font-size: 1.6rem;
  margin: 15px 3px 3px 3px;
  padding: 3px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.social {
  font-size: 1.8rem;
  display: inline-block;
  color: white;
}

/* main container with input form */
main {
  background-color: var(--butternut);
  height: 400px;
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#zipCode {
  position: relative;
  top: 70px;
}

.label {
  width: 300px;
  margin: auto;
}

.enterzip {
  display: inline;
  width: 150px;
  font-size: 1.4rem;
  background-color: var(--mint);
  color: var(--black);
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  margin-right: 5px;
}

.favorites {
  display: inline-block;
  width: 150px;
  font-size: 1.4rem;
  background-color: var(--blue);
  color: var(--grey);
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
}

#zipCode2 {
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2.2rem;
  border-radius: 0 8px 8px 8px;
  border: solid 0.5px #eaeaea;
}

#fetch-button {
  display: block;
  background-color: var(--black);
  color: var(--mint);
  width: 200px;
  text-align: center;
  font-size: 2.0rem;
  border-radius: 8px;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #A7AF39;
}

#fetch-button:hover {
  background-color: var(--mint);
  color: var(--black);
  border: none;
  padding: 12px;
}

.sub-title {
  font-size: 3.2rem;
  margin-top: 50px;
  color: var(--yellow);
  text-align: center;
}

.result-container {
  width: 600px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.8rem;
}

#rest-list li {
  width: 300px;
  margin: 20px auto;
  text-align: left;
}

#shopping-list {
  width: 320px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.8rem;

}

#shopping-form {
  width: 320px;
  margin: 20px auto;
}

#shopping-input {
  width: 300px;
  margin: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2.2rem;
  border-radius: 0 8px 8px 8px;
  border: solid 0.5px #eaeaea;
}

.shopping-input-button {
  display: block;
  background-color: var(--black);
  color: var(--mint);
  width: 200px;
  text-align: center;
  font-size: 2.0rem;
  border-radius: 8px;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #A7AF39;
}

.shopping-input-button:hover {
  background-color: var(--mint);
  color: var(--black);
  border: none;
  padding: 12px;
}

/* Bottom right text */

.support {
  text-align: center;
  margin: 25px auto;
  height: 150px;
  line-height: 150px;
  font-size: 2.4rem;
  background-color: #ededed;
  color: #484848;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.image-grid {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-image {
  display: block;
  flex-basis: 100%;
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
  .grid-image {
    flex-basis: 50%;
  }
}


@media only screen and (min-width: 960px) {
  .grid-image {
    flex-basis: 33.33%;
  }
}

@media only screen and (min-width: 1280px) {
  .grid-image {
    flex-basis: 25%;
  }
}

/* footer */
footer {
  width: 100%;
  height: 75px;
  background-color: var(--black);
  color: var(--yellow);
  font-size: 1.8rem;
  line-height: 75px;
  text-align: center;
}

Footer © 2022 GitHub,
Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About